<!DOCTYPE html>
<html>
    <head>
        <style>
            .title {
                font-size: 24px;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="title">Logo microblog</div>
            <div>
                <div>Recent</div>
                <div>Calendar</div>
            </div>
        </div>

        <div>
            <form method="POST">
                <textarea name="content" id="" cols="30" rows="10"></textarea>
                <input type="submit">
            </form>

            <div class="entries">
                {% for entry in entries %}
                    <p> {{ entry }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>