<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
    </head>
<body>
    <h1>Renseignement</h1>
        <form action = "http://localhost:5000/bonjour" method="POST">
            <p><label>Nom</label> : <input type="text" name="nom"></p>
            <p><label>Prénom</label> : <input type="text" name="prenom"></p>
            <p><label>Fait-il beau aujourd'hui ?</label> :
                <select name="meteo" id="meteo-select">
                    <option value="je ne sais pas">je ne sais pas</option>
                    <option value="oui">oui</option>
                    <option value="non">non</option>
                </select>
            </p>
            <p><input value="Valider" type="submit"></p>
        </form>
</body>
</html>